.banner {
  background-color: #585D6B;
}

/*.banner .container {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}*/

.banner-content {
  align-items: center;
  justify-content: center;
}

.banner .banner-details {
  flex-grow: 1;
  align-items: center;
  margin-top: 20px;
}

.banner h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 40px;
}

.banner p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.7;
  transition: 0.3s;
  margin-bottom: 0;
}

.banner p:hover {
  color: #FFA630;
  opacity: 1;
  transition: 0.3s;
}

#img-round {
  border: solid 3px white;
  height: 250px;
  width: 250px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s;
  margin-right: 30px;
  margin-left: 30px;
}

#img-round:hover {
  filter: none;
  transition: 0.3s;
}
