.card {
  border: dotted 1px #585D6B;
  border-radius: 25px;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.3s;
}

.card:hover {
  background-color: #FFA630;
  color: white;
  transition: 0.3s;
  border: none;
}

.card h2 {
  transition: 0.3s;
  /*border-bottom: solid 3px;*/
  margin-bottom: 30px;
  display: inline;
  text-align: center;
}

.card:hover h2 {
  color: white;
  transition: 0.3s;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content img {
  height: 130px;
  object-fit: contain;
  width: 100%;
  margin: 25px 0;
}

.card-content > p {
  flex-grow: 1;
}
