.interests {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.interest-category {
  color: white;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover
}
